@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }
  .list-container {
    flex-direction: column;
  }
  .list {
    width: 100%;
  }
}
